@font-face {
    font-family: jannabold;
    src: url(../font/Janna\ LT\ Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: jannareg;
    src: url(../font/Janna\ LT\ Regular.ttf);
}
@font-face {
    font-family: stcbold;
    src: url(../font/STC\ Bold.ttf);
    font-weight: bold;
}
:root{
    --main-font:jannabold;
    --second-font:jannareg;
    --third-font:stcbold;
    --color-one:#551e69;
    

    
}


*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    
}
body{
    direction: rtl;
    box-sizing: border-box;

}

/* start header  */

.nav {
    background-color: white;
    margin-top: 10px;
}
.nav .navbar-nav{
    margin-right: 30px;
}
.nav .navbar-nav .nav-item:hover{
    background-color: #551e69;
    border-radius: 5px;
}
.nav .navbar-nav .nav-item .nav-link{
    color: black;
}
.nav .navbar-nav .nav-item:hover .nav-link{
    color: white;
}
.nav .navbar-nav .nav-item .nav-link.active {
background-color: #551e69;
border-radius: 5px;
color: white;
}
.nav .navbar-nav .nav-item {
    font-family: var(--main-font);
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
}
.nav .navbar-nav .nav-item .nav-link{
padding: 15px;
}
.nav .navbar .buttons .one{
    border-radius: 5px;
    border: 1px solid #777;
    padding: 5px 15px;
    cursor: pointer;
}
.nav .navbar .buttons .two {
    border-radius: 5px;
    border: 1px solid #777;
    margin-right: 15px;
    padding: 5px 15px;
    cursor: pointer;
}
.nav .navbar .buttons .order {
    text-decoration: none;
    font-size: 17px;
    color: #777;
}

.nav .navbar .buttons .en  {
    text-decoration: none;
    font-size: 17px;
    color: #777;
}
.nav .navbar .buttons li.one:hover{
    background-color: var(--color-one); 
}
.nav .navbar .buttons li.two:hover{
    background-color: var(--color-one);
}
.nav .navbar .buttons li:hover .order{
    color: white;
}



/* end header  */
/* start slider  */
.slide .slider .item {
    overflow: hidden;
    position: relative;
}


.slide .slider .item img{
    transition: transform 2s;
    width: 100%;
    
}
.slide .slider .item img:hover{
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5); 
}

.slide .slider .owl-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
    width: 100%;
    right: 0;
    transition: all 0.5s ease-in-out;
}
.slide:hover .owl-nav{
    width: 84%;
    right: 50%;
    margin-right: -42%;
}

.slide:hover .slider .owl-nav button{
    background-color: var(--color-one) !important;
}

.slide .slider .owl-prev{
font-size: 32px !important;
background-color: #beabb3 !important;
border-radius: 50%;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
color: white !important;
}
.slide .slider .owl-next{
font-size: 32px !important;
background-color: #beabb3 !important;
border-radius: 50%;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
color: white !important;
position: absolute;
left: 0;
top: 0;
}
.slide .slider .txtt {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide .slider .txtt p {
    font-size: 23px;
    font-weight: var(--main-font);
}
.slide .slider .txtt h2 {
    font-size: 33px;
    font-weight: var(--main-font);
}


/* end slider  */
.tabs .tabs_area{
    background: #fff;
    padding: 45px 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 15px -5px;
    width: 100%;
    position: relative;
    top: -154px;
    z-index: 9;
}
@media (max-width:615px) {
    .tabs .tabs_area{
        top: 0;
    }
}
.tabs .row {
    margin-left: 15px;
    margin-right: 15px;
}
.tabs .tabs_area .tab_item{
    color: #000;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.tabs .tabs_area .tab_item:hover{
    transform: translateY(-65px);
}
.tabs .tab_item:hover .tab_img{
    box-shadow: 0 0 15px -5px;
}
.tabs .tab_img{
    width: 106px;
    height: 106px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: white;
    margin: 0 auto 15px;
    position: relative;

}
.tabs .tab_img::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background-color: var(--color-one);
    transition: all 0.1s ease-in-out;
}
.tabs .tab_item:hover .tab_img::before{
    visibility: hidden;
}
.tabs .tab_img span {
    display: table;
    margin: 0 auto;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}
.tabs .tab_img img{
    width: 33px;
    height: 48px;
}
.tabs .tabs_area .tab_item .tab_link{
    margin:10px 0 ;
}
.tabs .tabs_area .tab_item a{
    color: white;
    background-color:var(--color-one);
    font-size: 14px;
    font-family: var(--second-font);
    text-decoration: none;
    visibility: hidden;
    padding: 0 10px 5px ;
}
.tabs .tabs_area .tab_item:hover a{
    visibility:visible ;
}



/* start projects  */
.projects{
    border-bottom: 1px solid #ebddf0;
}
@media (max-width:615px) {
    .projects{
        margin-top: 100px;
    }
}

.head-txt {
    text-align: center;
}
.head-txt h3 {
    font-weight: var(--main-font);
    font-weight: bold;
    font-size: 30px;
    color: black;
}
.head-txt h5 {
    font-weight: var(--second-font);
    font-size: 16px;
    color: var(--color-one);
}
.projects .row{
    margin-top: 70px;
    margin-bottom: 70px;
}
.projects .row .content{
    border: 1px solid #ebddf0;
    position: relative;
}
.projects .row .content .txt {
    text-align: center;
    margin: 10px 5px;
    line-height: 1.8;
    font-size: 16px;
    font-family: var(--main-font);
}
.projects .row .content:hover .txt p {
    color: var(--color-one);
}
.projects .row .content:hover{
    box-shadow: 0 0 15px -5px;
}
.projects .row .content .pic{
    overflow: hidden;
}
.projects .row .content .pic img {
    transition: transform 1.5s ease-in-out;
}
.projects .row .content:hover .pic img {
    transform: scale(1.5);
}
.projects .row .content .pro_pup{
    position: absolute;
    top: -10px;
    right: 10px;
}
.projects .row .content .date_pup{
    display: block;
    text-align: center;
    width: 64px;
    background-color: var(--color-one);
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 5px;
}
.projects .row .content .mon_pup{
    display: block;
    text-align: center;
    width: 64px;
    background-color: white;
    font-size: 16px;
    padding: 2px;
    font-family: var(--main-font);
}



/*  start about_us*/
.about-us{
    margin-top: 100px;
}
.about-us .tabs .nav-link{
    background: none !important;
    color: black !important;
    padding: 0;
    position: relative;
    width: 100%;
    text-align: right;
    height: 100px;
    font-family: var(--main-font);
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    padding-left: 90%;

}
.about-us .tabs .nav-link.active{
    color: var(--color-one) !important;
}
.about-us .tabs .nav-link::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -8px;
    background-color: #d4d4d4;
    border-radius: 50%;
    
}
.about-us .tabs .nav-link::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -13px;
    background: #e8e8e8;
    border-radius: 50%;
    
}

.about-us .tabs .nav-link.active::after{
    background-color: var(--color-one);

}
.about-us .tabs .nav-link.active::before{
    display: none;

}
.about-us .doots {
    border-left: 1px solid #64686f;
    width: 90%;
}.about-us .tabs .nav-pills button:nth-child(2){
    align-items: center;
}
.about-us .tabs .nav-pills button:nth-child(3){
align-items: flex-end;
}

.about-us .tabs .nav-pills button:nth-child(1)::after{
top: 0;

}
.about-us .tabs .nav-pills button:nth-child(3)::after{
top: auto;
bottom: 0;

}
.about-us .tabs .nav-pills button:nth-child(1)::before{
    top: -5px;
    }

.about-us .tabs .nav-pills button:nth-child(2)::before{
    top: auto;
    }

.about-us .tabs .nav-pills button:nth-child(3)::before{
        top: auto;
        bottom: -5px;    
    }
/* end about_us

/* end projects  */
/* start about us  */
.tabs {
    margin-top: 70px;
    
}
.tabs .row{
    margin-top: 10px;
}
.tabs .tab-pane h4 { 
    position: relative;
    font-family: var(--main-font);
    font-size: 20px;
    margin-bottom: 50px;
    color: var(--color-one);
}
.tabs .tab-content .tab-pane h4::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--color-one);
    bottom: -10px;
    right: 0;
}
.tabs .tab-content .tab-pane p{
    font-family: var(--second-font);
    font-size: 15px;
    color: #64686f;
    text-align: start;
}
/* end about us  */
/* start more  */
.more{
    background-image: url(../imgs/stcbg.png);
    background-size: cover;
    position: relative;
    font-family: var(--third-font);
    margin-top: 100px;
}
.more .right{
    width: 50%;
    height: 100%;
    position: absolute;
    background: rgba(73, 29, 89, 0.8);
    top: 0;
}
.more .left{
    width: 50%;
    height: 100%;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
}
.more .container .row .col-md-6{
    z-index: 99999999;
}
.more .one {
    padding: 150px 20px;
    color: white;
}
.more .two {
    padding: 150px 20px;
    color: white;
}
.more .row h3{
    position: relative;
    margin-bottom: 40px;
    font-size: 40px;
}
.more .row p{
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 30px;
}
.more .row .one a{
    border-radius: 15px;
    padding: 7px 25px;
    display: inline-block;
    background: transparent;
    border: 1px solid #fff;
    transition: all 0.4s ease-in;
    color: #fff;
    text-decoration: none;

}
.more .row .two a{
    border-radius: 15px;
    padding: 7px 25px;
    display: inline-block;
    background: var(--color-one);
    border: 1px solid #fff;
    transition: all 0.4s ease-in;
    color: #fff;
    text-decoration: none;
}
@media (max-width:769px) {
    .more .right{
        width: 100%;
        height: 50%;
    }
    .more .left {
        width: 100%;
        height: 50%;
    }
}

.more .row h3::before{
    content: "";
    position: absolute;
    bottom: -10px;
    right: 20px;
    width: 60px;
    height: 3px;
    background-color: white;
    
}
.more .row  a:hover{
    background-color: #000;
    border: 1px solid transparent;
}




/* end more  */
/* start news  */
.news{
    margin-top: 100px;
}
.news .row{
    margin-top: 70px;

}
.news .row .content{
    border: 1px solid #ebddf0;
    position: relative;
}
.news .row .content .txt {
    text-align: center;
    margin: 10px 5px;
    line-height: 1.8;
    font-size: 16px;
    font-family: var(--main-font);
}
.news .row .content:hover .txt p {
    color: var(--color-one);
}
.news .row .content:hover{
    box-shadow: 0 0 15px -5px;
}
.news .row .content .pic{
    overflow: hidden;
}
.news .row .content .pic img {
    transition: transform 1.5s ease-in-out;
}
.news .row .content:hover .pic img {
    transform: scale(1.5);
}
.news .row .content .pro_pup{
    position: absolute;
    top: -10px;
    right: 10px;
}
.news .row .content .date_pup{
    display: block;
    text-align: center;
    width: 64px;
    background-color: var(--color-one);
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 5px;
}
.news .row .content .mon_pup{
    display: block;
    text-align: center;
    width: 64px;
    background-color: white;
    font-size: 16px;
    padding: 2px;
    font-family: var(--main-font);
}
/* end news  */
/* start partner  */
.partner{
    margin-top: 100px;
}

.partner .head-txt{
    margin-bottom: 70px;
}
.partner .part {
    margin-bottom: 70px;
}
.partner .part .item {
    padding: 40px;
}

.partner .part .owl-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
    width: 100%;
    right: 0;
    transition: all 0.5s ease-in-out;
}


.partner:hover .part .owl-nav button{
    background-color: var(--color-one) !important;
}

.partner .part .owl-prev{
font-size: 32px !important;
background-color: #beabb3 !important;
border-radius: 50%;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
color: white !important;
}
.partner .part .owl-next{
font-size: 32px !important;
background-color: #beabb3 !important;
border-radius: 50%;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
color: white !important;
position: absolute;
left: 0;
top: 0;
}

/* end partner  */
/* start .end  */
.end {
    background-image: url(../imgs/footerpg.png);
    background-size: cover;
    position: relative;
    top: -5px;
}
.end .title {
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
}
.end .row {
padding-bottom: 50px;
}
.end .title h3 {
    font-family: var(--main-font);
    font-size: 35px;
    margin-bottom: 20px;
}
.end .title h5 {
    font-family: var(--second-font);
    font-size: 16px;
}
.end .row form input{
    direction: rtl;
    width: 100%;
    margin-bottom: 35px;
    border-radius: 5px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #94829c;
    font-family: var(--second-font);
    color: #d4c1dc;

} 
.end .row form input::placeholder{
    color: #d4c1dc;
    font-family: var(--second-font);
}
.end .row form input :nth-child(1){
    
} 
.end .row form .button  {
    width: 25%;
    background-color: var(--color-one);
    color: white;
    border-radius: 25px;
} 
.end .row form .name  {
    width: 100%;
    padding: 15px 10px 180px 0;
    font-family: var(--second-font);
    color: #d4c1dc;
    
} 
.end li div{
    display: flex;
    color: #d4c1dc;
    font-family: var(--main-font);
    font-size: 16px;
    align-items: baseline;
}
.end li div h4{
    margin-right: 15px;
}
.end li p{
    color:white;
    font-family: var(--second-font);
    font-size: 15px;
}
/* .end .row form input [type="number"]{
    
}  */
/* end .end  */

.end .social div{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
}
.end .social svg{
    color: white;
    font-size: 20px;
}
#fb{
    background-color: #3162a2;
}
#google {
    background-color: #f25c58;
}
#vimeo {
    background-color: #3498b9;
}
#twitter{
    background-color: #2eb1eb;
}
#basket{
    background-color: #f552b6;
}



/* end footer  */
.last{
    background-color: black;
    color: white;
    padding: 8px 0;
    margin-top: -5px;
}
.back-to-top button .go-top {
    font-size: 35px;
    color: white;
}
.back-to-top button {
    background-color: #701a3f;
padding: 5px;
/* position: fixed;
top: 90%;
left: 95%; */
border: none;
border-radius: 50%;
width: 50px;
height: 50px;
}
.back-to-top button:hover{
    background-color: rgb(54, 54, 54);
}